p {
    font-family: 'Montserrat', sans-serif!important;
}

.h1, .h2, .h3 {
    font-family: 'Open Sans', sans-serif!important;
    margin: 10px;
}

.h4, .h5, .h6, h1, h2, h3, h4, h5, h6{
font-family: 'Open Sans', sans-serif!important;
}


html, body {
    max-width: 100%;
    overflow-x: hidden;
    background-size: 100%;
    background-color: white;
}

blockquote {
    margin-left: 40px;
    margin-right: 40px;
    background-color: #ddd;
    padding: 2em;
}

.navbar {
    background-color: rgb(55, 55, 56);
    padding: 10px;
}

.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top {
    background: white !important;
}

.navbar-brand {
    display: flex;
}

.nav-spacing {
    margin-right: 2em;
}

.nav-link {
    color: #DF8027!important;
    border-color: #DF8027!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.nav-link:hover {
    color: #ffffff!important;
    background-color: #DF8027!important;
    border-color: #DF8027!important;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

#cohort22 {
    display: inline-block;
    color: #009CA3;
}

#jumbheader{
    background-color: #009CA3!important;
}

.header-text{
    margin: 0 auto;
    padding-top: 10px;
    font-weight: bold;
    height: 50px;
    color: black;
}

.title-font {
    text-align: center;
    vertical-align: middle;
    color: black;
}

.logo {
    height: 50px;
}

.jumbotron.jumbotron-fluid {
    background: none;
}

.jumbotron.jumbotron-fluid img {
    background: none;
    width: 100%;
    margin-top: -80px;
}

main {
    margin-bottom: 20px;
    margin-top: -30px;
    width: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.copyright {
    text-align: center;
}

.row {
    justify-content: center;
}

.navbar-collapse {
    justify-content: flex-end;
    font-weight: bold;
    text-transform: uppercase;
}

.col-md-3.cohortMems {
    border: 1px solid lightgray;
    border-radius: 10px;
    box-shadow: 2px 2px 2px lightgray;
    margin: 10px;
    margin-bottom: 25px;
    background: white;
}

.col-sm-2.technologies {
    border: none;
    border-radius: none;
    box-shadow: none;
}

.tech-stack{
    background: #009CA3;
    margin: 10px;
}

.technos, .words{
    background: #009CA3;
    padding: 20px 40px 20px 40px;
}

.thankyousection{
    padding: 20px 40px 20px 40px;
}

.techs {
    width: 70px;
    margin: 20px 0px;
}

.words {
    padding: 50px;
}

.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.card-img-top {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.card-img-top-baby {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    object-fit: contain;
    opacity: 0;
    width: 100%;
    transition: opacity .2s;
}

.card-img-top-baby:hover {
    opacity: 1;
    width: 100%;
}

.col, [class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}

.modal-body {
    display: block;
  }

  .studentContact{
      text-align: center;
      display: flex;
      justify-content: space-evenly;
      -webkit-justify-content: space-evenly;
      margin-bottom: .75rem;
  }

  .contactIcons{
      color: #DF8027
      ;
  }
  .contactIcons:hover{
      transform: scale(1.2);
  }

  .modal-header{
    background-color: lightgray!important;
    color: #009CA3;
}

.modal-body img {
    width: 50%;
    height: 50%;
    box-shadow: 3px 3px 5px #cacaca;
    border-radius: 10px;
}

.backButton {
    margin-bottom: 1.5rem;
}

.navbar.navbar-light.bg-light.footer {
    margin-top: 10px;
    font-size: 1em;
    background-color: #009CA3!important;
    color: white;
}

#demo-date {
    text-align: center;
}

#demo-date a {
    color: white!important;
}

button {
    cursor: pointer;
}
.btn-outline-primary{
    color: #009CA3!important;
    border-color: #009CA3!important;
    border-width: 2px;
}

.joke-button{
    color: black!important;
    border-color: #D2E6E4!important;
    border: 2px solid;
    background-color: white;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-outline-primary:hover {
    color: white!important;
    background-color: #009CA3!important;
}

.joke-button:hover{
    background-color: #D2E6E4;
}

/* adjusts size of contact icons depending on size of card */

@media (min-width: 992px) and (max-width: 1200px) {
    .fa-3x {
        font-size: 2.5em!important;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .fa-3x {
        font-size: 2em!important;
    }
}

 .jumbotron.jumbotron-fluid{
    background-color: #009CA3!important;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 200px;
    }

    .joke__body{
        display: inline-block;
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
        width: 100%;
        padding: 20px 40px 20px 40px;
        background-color: #009CA3;
    }

    body { padding-top: 50px; }


@media (max-width: 900px) {
    /* body {
        background: url("../assets/images/bg.jpg") repeat;
    } */
    .jumbotron.jumbotron-fluid img {
        background: white;
        margin-top: 30px;
    }
    .jumbotron.jumbotron-fluid.sm-width {
        width: 100%;
    }
    .header-text {
        margin: 0 auto;
        height: 30px;
    }
    .header-text h2 {
        font-size: 1.5em;
        margin-top: 10px;
       }
       .modal-body{
        display: block;
    }
    .modal-content {
        width: 100%;
    }
    .modal-body img {
        width: 100%;
    }
    main {
        margin-bottom: 100px;
        margin-top: -50px;
        width: 100%
    }
    .navbar-brand img {
        padding-right: none;
      }

}
